/* Estilos generales */
body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
/* styles.css */
/* Estilos para el encabezado y el menú */
header {
  background-color: #fff;
  padding: 10px;
  color: #fff;
}

/* Estilos para menú */
.navbar {
  display: flex;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-menu-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.navbar-item {
  margin: 0 1rem;
}

/* Estilos para las secciones inferiores */
.container {
  max-width: 1140px; /* Cambiar el valor según tus necesidades */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.column {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.column img {
  width: 100%;
  height: auto;
}

.column h2 {
  margin-top: 0;
}

.column p {
  margin-bottom: 0;
}

.intro {
  font-family: 'Roboto', sans-serif;
}
/* Estilos para el footer */
footer {
  background-color: #1c2331;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Estilos para la sección de redes sociales en el footer */
section.p-4 {
  background-color: #6351ce;
}

/* Estilos para los enlaces en el footer */
footer a {
  color: #fff;
}

/* Estilos para los enlaces resaltados en el footer */
footer a.text-white {
  color: #fff;
}

/* Estilos para el texto de derechos de autor en el footer */
footer .text-center {
  background-color: rgba(0, 0, 0, 0.2);
}
  /* Estilos del contenido principal */
  .main-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

  /* Estilos del footer */
  .footer {
    background-color: #1c2331;
    color: #fff;
    padding: 30px 0;
    text-align: center;
  }
  
  .footer-top {
    background-color: #7c4dff;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footer-social {
    margin-bottom: 20px;
  }
  
  .footer-social a {
    color: #fff;
    margin-right: 10px;
  }
  
  .footer-columns {
    display: flex;
    justify-content: center;
  }
  
  .footer-column {
    margin: 0 15px;
  }
  
  .footer-column h6 {
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .footer-column hr {
    background-color: #7c4dff;
    height: 2px;
    border: none;
    margin: 0 auto 10px;
    width: 60px;
  }
  
  .footer-column p {
    margin-bottom: 10px;
  }
  
  .footer-copyright {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
  }